.inicio{
    background-image: url(../img/9s-background.jpg);
    width: 100%;
    min-height: 300px;
    background-position:center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.inicio2b{
    background-image: url(../img/2b-background.jpg);
    width: 100%;
    min-height: 300px;
    background-position:center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.inicioa2{
    background-image: url(../img/a2-background.jpg);
    width: 100%;
    min-height: 300px;
    background-position:center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.instrucao{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}
.main{
    background-image: url(../img/fundo-menu-desktop.png);
    width: 100%;
    min-height: 1440px;
    font-family: Rodin;
}
.container{
    width: 95%;
    display: flex;
    margin: 0 auto;
}
.chips{
    width: 100%;
    margin-top: 27px;
}
.botoes_info{
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: space-between;
}
.botoes{
    display: flex;
    height: 33px;
    flex-wrap: wrap;
}
.box_chips{
    width: 100%;
    min-height: 600px;
    display: flex;
    margin-top: 34px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.chip_slot{
    height: 512px;
    width: 170px;
    min-width: 170px;
    background-color: grey;
}
.tamanho{
    width: 100%;
    height: fit-content;
}
.tamanho div{
    box-shadow: 0px -1px 0px black inset,0px 1px 0px black inset;
    width: 100%;
}
.chip_menu{
    width: 306px;
    min-width: 265px;
    background-color: rgb(173,169,151);
    max-height: 361px;
}
.chip_menu .botao{
    background-color: rgb(173,169,151);
    font-family: Rodin;
    color: #534f46;
    display: flex;
    align-items: center;
    height: 25px;
    width: 100%;
    -webkit-user-select: none; /* Não permite que o texto seja selecionavel no Chrome e safari */
    margin-bottom: 3px;
}
.but_skill{
    background-color: rgb(173,169,151);
    font-family: Rodin;
    color: #534f46;
    display: flex;
    align-items: center;
    font-size: larger;
    height: 33px;
    width: 112px;
    border: none;
}
.but_skill img{
    height:33px;
}
.nome{
    width: 86%;
}
.chip_menu div img{
    height: 25px;
    padding-left: 2px;
}
.info_slot{
    -webkit-user-select: none;
    color: #534f46;
    background-color: rgb(173,169,151);
    box-shadow: 5px 0px 0px rgb(83 79 70) inset;
    padding-left: 10px;
    display: flex;
    align-items: center;
    width: 250px;
    min-width: 179px;
}
.desc{
    margin-left: -260px;  /* Preciso descobrir o que fazer com .desc hover não é uma boa */
    justify-content: center;
    width: 245px;
    display: none;
    border: solid #534f46;
    background-color: rgb(173,169,151);
    border-radius: 20px;
    font-size: 14px;
    color: #534f46;
    text-align: center;
    -webkit-user-select: none;
}
.info_box{
    background: rgb(83, 79, 70);
    color: rgb(173,169,151);
    width: 400px;
    height: 64px;
    margin-bottom: 447px;
}
.info_box p{
    padding: 0 3%;
    margin: 0;
} 
.info{
    color: rgb(83, 79, 70);
    background: rgb(173,169,151);
    display: none;
}
.info p{
    margin: 0;
    padding: 0 3%;
}
.nome_personagem{
    background-color: rgb(173,169,151);
    color: #534f46;
    padding: 0 3%;
}
.attack_menu{
    display: none;
}
.defense_menu{
    display: none;
}
.support_menu{
    display: none;
}
.hacking_menu{
    display: none;
}
.system{
    background-color: rgb(139,126,103);
    box-shadow: 2px 0px 0px rgb(139,126,103) inset;
}
.attack{
    background-color: rgb(172 135 104);
    box-shadow: 2px 0px 0px rgb(172 135 104) inset;
}
.defense{
    background-color: #f0e4d3;
    box-shadow: 2px 0px 0px #f0e4d3 inset;
}
.support{
    background-color: rgb(233,222,176);
    box-shadow: 2px 0px 0px rgb(233,222,176) inset;
}
.hacking{
    background-color: #efefef;
    box-shadow: 2px 0px 0px #efefef inset;
}
.grafico{
    display: flex;
    width: 100%;
    margin-top: 50px;
    height: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.grafico img{
    height: 576px;
}
.grafico div{
    width: 500px;
    height: fit-content;
}